
.shortAddressDisplay {
    display:none
}
.longAddressDisplay {
    display:flex
}


@media only screen and (max-width: 954px) {
	.shortAddressDisplay {
        display:flex
    }
	.longAddressDisplay {
        display:none
    }
}

.tableCell {
    text-align: left;
    white-space: nowrap;
    width: fit-content;
    vertical-align: middle;
}