.timeline-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #F7931A26;
  color: rgba(243, 233, 221, 1); /* Adjust to match your design */
  height: 20rem;
  font-weight: 200;
}

.timeline {
  position: relative;
  width: 90%;
  max-width: 1400px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffa500; /* Line color */
  z-index: -1;
}

.timeline-event {
  font-size: 16px;
  position: relative;
  text-align: center;
  flex: 1;
  word-wrap: break-word; /* Enable word wrap for the text */
}

.timeline-event.top .timeline-content {
  margin-bottom: 8rem;
  text-align: left;
}

.timeline-event.bottom .timeline-content {
  margin-top: 8rem;
  text-align: left;
}

.timeline-content {
  padding: 10px;
  background: #00000000;
  border-radius: 5px;
  white-space: normal; /* Allow the text to wrap */
}

.timeline-content time {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: rgba(243, 233, 221, 0.75) /* Date color */
}

.timeline-content p {
  margin: 0;
}

.timeline-dot {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 12px;
  height: 12px;
  background-color: #ffa500; /* Dot color */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .timeline {
    flex-direction: column;
    border-top: none;
  }

  .timeline-event {
    margin-bottom: 20px;
  }

  .timeline-event .timeline-content {
    margin: 0;
  }

  .timeline-event .timeline-dot {
    top: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}
